Source: ortp
Version: 4.3.2-2
Homepage: http://www.linphone.org/technical-corner/ortp
Description: oRTP is a C library implementing the RTP protocol (rfc3550). It is available for most unix clones (primilarly Linux and HP-UX), and Microsoft Windows.
Build-Depends: bctoolbox